#apresentação {
  margin-top: 3.75rem;
}

.cont-titulo-principal {
  display: flex;
  align-items: center;
  background-color: #393949;
  width: 34.375rem;
  height: 18.75rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.titulo-principal {
  text-align: center;
  font-weight: 600;
  font-size: 5rem;
  line-height: 1;
  color: #23232e;
}

.apresentação {
  display: grid;
  grid-template-columns: 34.375rem 34.375rem;
}

.apresentação p {
  font-size: 1rem;
  color: white;
}

.text p {
  line-height: 3;
  text-align: center;
  padding: 1.125rem;
}

.img-apre {
  border-radius: 0 0.5rem 0.5rem 0;
  width: 34.375rem;
  height: 18.75rem;
  object-fit: cover;
}

.propriedades {
  padding: 1.25rem;
  padding-bottom: 0;
}

.propriedades li {
  display: flex;
  justify-content: end;
}

.propriedades p {
  text-transform: uppercase;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  letter-spacing: 0.125rem;
}

.icon {
  padding-right: 0;
  padding-left: 0.625rem;
}

@media (max-width: 62.4375rem) {
  #apresentação {
    margin-top: 1.875rem;
  }
  .apresentação {
    grid-template-columns: 1fr;
    width: 95%;
  }
  .apresentação p {
    font-size: 1.125rem;
  }
  .text p {
    padding: 0;
    padding-top: 1.25rem;
  }
  .cont-titulo-principal {
    background: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-bottom: 0.9375rem;
  }
  .titulo-principal {
    font-size: 2.5rem;
    opacity: 0.5;
    color: white;
  }
  .propriedades {
    padding: 0;
    padding-top: 1.25rem;
  }
  .propriedades li {
    justify-content: center;
    background-color: #393949;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
  }
  .icon {
    padding-right: 1.25rem;
  }
  .apresentação .text {
    text-align: center;
  }
  .img-apre {
    width: 100%;
    height: 100%;
  }
}
