#slider-estampados {
  margin-top: 3.75rem;
  background: #f3f3ff;
  padding-bottom: 3.75rem;
}

.sub-titulo-slider {
  text-align: center;
}

.sub-titulo-slider .sub-estampados {
  padding-top: 3.75rem;
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 3.75rem;
  color: #23232e;
  margin-bottom: 1.875rem;
}

.adesivos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.width {
  width: 95%;
}

.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 3.125rem;
  width: 3.125rem;
  z-index: 5;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #23232e;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
}
.slider-wrapper .slide-button:hover {
  background: #000000;
}
.slider-wrapper .slide-button#prev-slide {
  left: -1.562rem;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -1.562rem;
}
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1.125rem;
  font-size: 0;
  list-style: none;
  margin-bottom: 1.875rem;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 20.312rem;
  height: 25rem;
  object-fit: cover;
}
.container .slider-scrollbar {
  height: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #d7d7fe;
  width: 100%;
  height: 0.125rem;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  position: relative;
  transition: 0.15s;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 0.25rem;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #23232e;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 0.5rem;
  top: -0.125rem;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -0.625rem;
  bottom: -0.625rem;
}

@media only screen and (max-width: 62.5rem) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 0.625rem;
    margin-bottom: 0.9375rem;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 17.5rem;
    height: 23.75rem;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}

@media (max-width: 36rem) {
  .sub-titulo-slider .sub-estampados {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
