#slider-lisos {
  padding-bottom: 3.75rem;
}

.sub-titulo-slider .sub-lisos {
  padding-top: 3.75rem;
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 3.75rem;
  color: #f3f3ff;
  margin-bottom: 1.875rem;
}

.slider-wrapper2 {
  position: relative;
}
.slider-wrapper2 .slide-button2 {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 3.125rem;
  width: 3.125rem;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #23232e;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
}
.slider-wrapper2 .slide-button2:hover {
  background: #ffcb44;
}
.slider-wrapper2 .slide-button2#prev-slide2 {
  left: -1.562rem;
  display: none;
}
.slider-wrapper2 .slide-button2#next-slide2 {
  right: -1.562rem;
}
.slider-wrapper2 .image-list2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1.125rem;
  font-size: 0;
  list-style: none;
  margin-bottom: 1.875rem;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper2 .image-list2::-webkit-scrollbar {
  display: none;
}
.slider-wrapper2 .image-list2 .image-item {
  width: 20.312rem;
  height: 25rem;
  object-fit: cover;
}
.container .slider-scrollbar2 {
  height: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar2 .scrollbar-track {
  background: #404040;
  width: 100%;
  height: 0.125rem;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  position: relative;
}
.slider-scrollbar2:hover .scrollbar-track {
  height: 0.25rem;
}
.slider-scrollbar2 .scrollbar-thumb2 {
  position: absolute;
  background: #fff;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar2 .scrollbar-thumb2:active {
  cursor: grabbing;
  height: 0.5rem;
  top: -0.125rem;
}
.slider-scrollbar2 .scrollbar-thumb2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -0.625rem;
  bottom: -0.625rem;
}
@media only screen and (max-width: 62.5rem) {
  .slider-wrapper2 .slide-button2 {
    display: none !important;
  }
  .slider-wrapper2 .image-list2 {
    gap: 0.625rem;
    margin-bottom: 0.9375rem;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper2 .image-list2 .image-item {
    max-width: 17.5rem;
    max-height: 23.75rem;
  }
  .slider-scrollbar2 .scrollbar-thumb2 {
    width: 20%;
  }
}

@media (max-width: 36rem) {
  .sub-titulo-slider .sub-lisos {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
